doctype html
//
  Ionicons iconset for polymer
  https://github.com/antono/core-iconset-ionicons

link(rel='import', href='../core-icon/core-icon.html')
link(rel='import', href='../core-iconset-svg/core-iconset-svg.html')
  
core-iconset-svg(id=iconsetId iconsize=defaultIconSize)
  svg
    defs
      each g in glyphs
        g(id=g.name transform="scale(" + g.scale + " -" + g.scale + ") translate(" + g.xMargin + " -448)" )
          path(d=g.d)
